<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul>
        <li><a href="{{ path('search') }}">Search for produce</a></li>
        <li><a href="{{ path('sms') }}">Send a sms</a></li>
        <li><a href="{{ path('order') }}">Place an order</a></li>
    </ul>
</body>
</html>