<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>You searched for {{ search }}</h1>

<ul>
    <li><a href="{{ path('search') }}">Search for product</a></li>
    <li><a href="{{ path('sms') }}">Send a sms</a></li>
    <li><a href="{{ path('order') }}">Place an order</a></li>
</ul>
</body>
</html>